* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
nav {
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    background-color: #FCE4EC; 
    border-bottom: 3px solid #3E2723; 
}
nav a {
    margin: 0 20px;
    font-size: 20px;
    text-decoration: none;
    color: #2A2420;
    font-weight: bold;
    transition: 0.3s;
    border: 2px solid transparent; 
    padding: 5px 15px;
    border-radius: 10px; 
}
nav a:hover {
    color: #3E2723;
    border-color: #3E2723;
    letter-spacing: 1px; 
}

.menuToggle{
    display: none;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 25px;
    color: #2A2420; 
}

#menuOption{
    display: none;
}


.menuMobile{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #3E2723;
    padding-top: 80px;
    transition: 0.3s;
}

#menuOption:checked ~ .menuMobile {
    left: 0;
}
.menuMobile a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menuMobile a:hover{
    background-color: rgba(255,255,255,0.2);
}


#menuOption:checked + label + .menuMobile{
    left: 0;
}
.menuMobile a:hover {
    background-color: rgba(252, 228, 236, 0.2); 
    border-left: 5px solid #FCE4EC; 
    color: #FCE4EC; 
}

@media (max-width: 768px){
     #themeToggle {
        right: 70px; 
        top: 25px; 
    }
    nav{
        display: none;
    }

    .menuToggle{
        display: block;
    }

}

body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF9F4;
    color: #2A2420;
}
.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto; 
    display: block; 
    margin-top: 1px;
}
.apresentacao {
    display: flex;
    align-items: top; 
    justify-content:center;
    flex-wrap: wrap; /* quebra linha */
    padding: 40px;
    gap: 20px;
}
.texto {

    flex: 3;
    min-width: 350px;
    max-width: 100%;
    margin-left: 10px;
    text-align: justify; 
}
.texto p {
    margin-bottom: 15px;
    line-height: 1.6; 
    font-size: 1.2rem;
}

.texto h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #D4A5A5;
    font-family: 'Dancing Script', cursive; 
}
.imagem {
    flex: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 300px;
}
#oliver {
    width: 100%;
    height: auto;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px #D4A5A5;
}
.horarioFuncionamento {
    flex: 2;
}
/* table {
    width: 400px;

    box-shadow: 10px 10px 0px #D4A5A5;
    margin: auto;
    background-color: #FCE4EC;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 0;
    
    
}
table, th, td {
    border: 2px solid #2A2420;
    
}
th, td {
    border: 1px solid #D4A5A5;
    padding: 10px; 
} */
.saibaMais {
    background-image: url('imagens/form5.jpg');
    background-size: cover;
    display: block;
    padding: 20px;
}
.reservas {
    background-color:#FFF9F4 ;
    display: block;
    max-width: 400px;
    justify-content: center;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    flex-direction: column;
}
#formReserva {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.reservas h3 {
    text-align: center;
    color: #3E2723;
    font-family: 'Dancing Script', cursive; 
}
#formReserva label {
    color: #3E2723;
    margin-top: 5px;
}
#formReserva input {
    border-radius: 8px;
    font-size: 16px;
}
#formReserva button {
    margin-top: 10px;
    padding: 10px;
    width: 60%;
    align-self: center;
    background-color: #3E2723;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#mensagemReserva {
    display: none;
    margin-top: 10px; 
    padding: 15px; 
    border-radius: 10px; 
    color: #3E2723; 
    border: 1px solid #3E2723; 
    text-align: center;
}

footer {
    background-color: #FCE4EC; 
    padding: 20px;
    text-align: center;
    color: #2A2420;
    margin-top: 50px;
}